<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reserva registrada</title>
</head>
<body>
<h1>Reserva registrada correctamente ✅</h1>

<ul>
    <li><strong>Código PNR:</strong> {{ codigo_pnr }}</li>
    <li><strong>ID Vuelo:</strong> {{ id_vuelo }}</li>
    <li><strong>ID Pasajero:</strong> {{ id_pasajero }}</li>
    <li><strong>Estado:</strong> {{ estado }}</li>
    <li><strong>Total:</strong> S/. {{ total_reserva }}</li>
    <li><strong>Fecha:</strong> {{ fecha_reserva }}</li>
</ul>

<a href="/reservas">Registrar otra reserva</a> |
<a href="/">Inicio</a>
<a href="{{ url_for('generar_voucher', id_reserva=reserva.id_reserva) }}" target="_blank">Descargar Voucher</a>

</body>
</html>
